@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12);
    background-color: rgb(238, 238, 238);
}  
header nav ul{
    padding: 5vh 0vh;
}
header nav ul a{
    text-decoration: none;
    padding: 0vh 5vh;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 3vh;
    color: #4b4b4b;
}
header nav ul a:hover{
    color: black;
}
footer{
    color: white;
    background-color: black;
}